<router-outlet></router-outlet>
<div>
  <div class="row">
    <div class="col-md-6">
      <button (click)="onCheck()" type="button" class="btn btn-success"  >Add new </button>
    </div>
    <div class="col-md-6 form-inline">
      Search By Name:<input type="search" class="form-control" [formControl]="searchBy">
    </div>
  </div>
  <div *ngIf="checkAdd">
    <div *ngIf="messages" class="alert alert-danger">
      <h5>{{messages}}</h5>
    </div>
    <form class="form-horizontal" [formGroup]="productAddForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label>name</label>
        <input class="form-control" formControlName="proName" type="text" name="proName">
        <div class="alert alert-danger" *ngIf="productAddForm.get('proName')?.errors?.required && productAddForm.get('proName')?.touched">bạn chưa nhập Name Sản phẩm!</div>
        <div class="alert alert-danger" *ngIf="productAddForm.get('proName')?.errors?.minlength || productAddForm.get('proName')?.errors?.maxlength">Phai co 2-100 ky tu!</div>
      </div>

      <div class="form-group" formGroupName="Protype">
        <label>Protype Id</label>
        <select name="name" class="form-control" formControlName="prtId">
          <option *ngFor="let prt of protypes" [value]="prt.prtId">{{prt.prtName}}</option>
        </select>
      </div>

      <div class="form-group">
        <label>Details</label>
        <input class="form-control" formControlName="proDetails" type="text" name="proDetails">
      </div>

      <div class="form-group">
        <label>Images</label>
        <input class="form-control" formControlName="proImage" type="file" name="proImage" #fileInput (change)="onFileChange($event)" id="proImage">
      </div>

      <div class="form-group">
        <label>Price</label>
        <input class="form-control" formControlName="proPrice" type="text" name="proPrice">
        <div class="alert alert-danger" *ngIf="productAddForm.get('proPrice')?.errors?.required && productAddForm.get('proPrice')?.touched">bạn chưa nhập Price!</div>
        <div class="alert alert-danger" *ngIf="productAddForm.get('proPrice')?.errors?.pattern">bạn cần nhập số độ dài 2-10 ký tự</div>
      </div>

      <button type="submit" class="btn btn-success" [disabled]="productAddForm.invalid">Submit</button>
    </form>
  </div>

  <table class="table">
    <thead>
    <tr>
      <th>stt</th>
      <th>id</th>
      <th>name</th>
      <th>type</th>
      <th>price</th>
      <th>images</th>
      <th>option</th>
    </tr>
    </thead>
    <tr *ngFor="let pro of products | paginate: {itemsPerPage: 5, currentPage:page, id: '1'}; trackBy: contactTrackByFn;index as stt"
        [routerLink]="['superpro', pro.proId]">
      <td>{{stt+1}}</td>
      <td>{{ pro.proId }}</td>
      <td>{{ pro.proName }}</td>
      <td>{{ pro.protype.prtName }}</td>
      <td>{{ pro.proPrice }}</td>
      <td>{{ pro.proImage }}</td>
      <td><button type="button" class="btn btn-danger" (click)="delete(pro.proId); $event.stopPropagation()">Delete</button></td>
    </tr>
  </table>
  <pagination-controls (pageChange)="page = $event" id="1"
                       maxSize="5"
                       directionLinks="true"
                       autoHide="true">
  </pagination-controls>`
</div>
