<section class="section-50 section-sm-100">
  <div class="shell-wide">
    <div class="range range-xs-center">
      <div class="cell-sm-6 cell-md-4 view-animate zoomInSmall delay-04"><a href="menu-single.html" class="thumbnail-variant-3"><img src="assets/images/index-01-566x401.jpg" alt="" width="566" height="401" class="img-responsive"/>
        <div class="caption text-center">
          <h3 class="text-italic">For Vegans</h3>
          <p class="big">Burger + French Fries + Drink</p>
        </div></a></div>
      <div class="cell-sm-6 cell-md-4 view-animate zoomInSmall delay-06"><a href="menu-single.html" class="thumbnail-variant-3"><img src="assets/images/index-02-566x401.jpg" alt="" width="566" height="401" class="img-responsive"/>
        <div class="caption text-center">
          <h3 class="text-italic">Order Online</h3>
          <p class="big">Available Every Day 9:00–23:00</p>
        </div></a></div>
      <div class="cell-sm-6 cell-md-4 offset-sm-top-30 offset-md-top-0 view-animate zoomInSmall delay-02"><a href="menu-single.html" class="thumbnail-variant-3"><img src="assets/images/index-03-566x401.jpg" alt="" width="566" height="401" class="img-responsive"/>
        <div class="caption text-center">
          <h3 class="text-italic">Cakes Specials</h3>
          <p class="big">Every Friday Only $0.99</p>
        </div></a></div>
    </div>
  </div>
</section>
