<section class="section-50 section-sm-top-80 section-sm-bottom-100 bg-gray-lighter">
  <h3>Our Menu</h3>
  <div class="responsive-tabs responsive-tabs-button responsive-tabs-horizontal responsive-tabs-carousel offset-top-40">
    <ul class="resp-tabs-list">
      <li>Burgers</li>
      <li>Toasts</li>
      <li>Pizzas</li>
      <li>Salads</li>
      <li>Drinks</li>
      <li>Desserts</li>
    </ul>
    <div class="resp-tabs-container text-left">
      <!--hamburger-->
      <div>
        <!-- Slick Carousel-->
        <div data-arrows="true" data-loop="true" data-dots="false" data-swipe="true" data-items="1" data-xs-items="1" data-sm-items="2" data-md-items="3" data-lg-items="3" data-xl-items="5" data-center-mode="true" data-center-padding="10" class="slick-slider slick-tab-centered">
          <div class="item">
            <div class="thumbnail-menu-modern">
              <figure><img src=" assets/images/menu-modern-1-310x260.png" alt="" width="310" height="260" class="img-responsive"/>
              </figure>
              <div class="caption">
                <h5><a routerLink="/shopsingle" class="link link-default">Mexican Burger</a></h5>
                <p class="text-italic">This Mexican-style burger is pumped up with flavor from chili powder, cilantro, and jalapeno pepper.  Served on buns topped with lettuce.</p>
                <p class="price">12.50</p><a href="shop-single.html" class="btn btn-shape-circle btn-burnt-sienna offset-top-15">Order Online</a>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="thumbnail-menu-modern">
              <figure><img src=" assets/images/menu-modern-3-310x260.png" alt="" width="310" height="260" class="img-responsive"/>
              </figure>
              <div class="caption">
                <h5><a routerLink="/shopsingle" class="link link-default">Mini Burger</a></h5>
                <p class="text-italic">Mini burgers, known by many as sliders, are the hottest little food trend sweeping the nation, with the half size of a classic burger.</p>
                <p class="price">10.90</p><a href="shop-single.html" class="btn btn-shape-circle btn-burnt-sienna offset-top-15">Order Online</a>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="thumbnail-menu-modern">
              <figure><img src=" assets/images/menu-modern-2-310x260.png" alt="" width="310" height="260" class="img-responsive"/>
              </figure>
              <div class="caption">
                <h5><a routerLink="/shopsingle" class="link link-default">Classic Burger</a></h5>
                <p class="text-italic">Chicken beef cooked over charcoal and onions on the grill, hot pepper, lettuce, tomatoes, double American cheddar cheese sauce.</p>
                <p class="price">13.90</p><a href="shop-single.html" class="btn btn-shape-circle btn-burnt-sienna offset-top-15">Order Online</a>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="thumbnail-menu-modern">
              <figure><img src=" assets/images/menu-modern-6-310x260.png" alt="" width="310" height="260" class="img-responsive"/>
              </figure>
              <div class="caption">
                <h5><a routerLink="/shopsingle" class="link link-default">California Burger</a></h5>
                <p class="text-italic">Alfalfa sprouts crown these juicy burgers. A combination of regular ground turkey and ground turkey breast offers superior texture.</p>
                <p class="price">17.97</p><a href="shop-single.html" class="btn btn-shape-circle btn-burnt-sienna offset-top-15">Order Online</a>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="thumbnail-menu-modern">
              <figure><img src=" assets/images/menu-modern-5-310x260.png" alt="" width="310" height="260" class="img-responsive"/>
              </figure>
              <div class="caption">
                <h5><a routerLink="/shopsingle" class="link link-default">Double Burger</a></h5>
                <p class="text-italic">Two signature flame-grilled beef patties topped with a simple layer of melted American cheese and crinkle cut pickles.</p>
                <p class="price">25.00</p><a href="shop-single.html" class="btn btn-shape-circle btn-burnt-sienna offset-top-15">Order Online</a>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="thumbnail-menu-modern">
              <figure><img src=" assets/images/menu-modern-4-310x260.png" alt="" width="310" height="260" class="img-responsive"/>
              </figure>
              <div class="caption">
                <h5><a routerLink="/shopsingle" class="link link-default">Chicken Burger</a></h5>
                <p class="text-italic">Our Chicken Burger features a savory grilled chicken burger patty topped with juicy tomatoes, fresh lettuce, and mayonnaise.</p>
                <p class="price">9.50</p><a href="shop-single.html" class="btn btn-shape-circle btn-burnt-sienna offset-top-15">Order Online</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--Toasts-->
      <div>
        <!-- Slick Carousel-->
        <div data-arrows="true" data-loop="true" data-dots="false" data-swipe="true" data-items="1" data-xs-items="1" data-sm-items="2" data-md-items="3" data-lg-items="3" data-xl-items="5" data-center-mode="true" data-center-padding="10" class="slick-slider slick-tab-centered">
          <div class="item">
            <div class="thumbnail-menu-modern">
              <figure><img src=" assets/images/toast-1-310x260.png" alt="" width="310" height="260" class="img-responsive"/>
              </figure>
              <div class="caption">
                <h5><a routerLink="/shopsingle" class="link link-default">Tomato Toast</a></h5>
                <p class="text-italic">Enjoy this amazing combination of cheese and tomato with a little bit of salad and cucumbers on the freshly baked bread.</p>
                <p class="price">12.50</p><a href="shop-single.html" class="btn btn-shape-circle btn-burnt-sienna offset-top-15">Order Online</a>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="thumbnail-menu-modern">
              <figure><img src=" assets/images/toast-2-310x260.png" alt="" width="310" height="260" class="img-responsive"/>
              </figure>
              <div class="caption">
                <h5><a routerLink="/shopsingle" class="link link-default">Cheese Toast</a></h5>
                <p class="text-italic">This toast is one of the most popular in our menu, and it’s no wonder why – it’s as tasty as it’s original and easy to make.</p>
                <p class="price">10.90</p><a href="shop-single.html" class="btn btn-shape-circle btn-burnt-sienna offset-top-15">Order Online</a>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="thumbnail-menu-modern">
              <figure><img src=" assets/images/toast-3-310x260.png" alt="" width="310" height="260" class="img-responsive"/>
              </figure>
              <div class="caption">
                <h5><a routerLink="/shopsingle" class="link link-default">Beef Toast</a></h5>
                <p class="text-italic">Tender, flavorful and perfectly seasoned roast beef, sliced thin, topped with smoked Gouda cheese and served on a baguette.</p>
                <p class="price">13.90</p><a href="shop-single.html" class="btn btn-shape-circle btn-burnt-sienna offset-top-15">Order Online</a>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="thumbnail-menu-modern">
              <figure><img src=" assets/images/toast-4-310x260.png" alt="" width="310" height="260" class="img-responsive"/>
              </figure>
              <div class="caption">
                <h5><a routerLink="/shopsingle" class="link link-default">Italian Toast</a></h5>
                <p class="text-italic">Experience the flavor of true Italian cuisine with this toast, which includes Provolone Cheese, fresh tomatoes, and freshly baked bread.</p>
                <p class="price">17.97</p><a href="shop-single.html" class="btn btn-shape-circle btn-burnt-sienna offset-top-15">Order Online</a>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="thumbnail-menu-modern">
              <figure><img src=" assets/images/toast-5-310x260.png" alt="" width="310" height="260" class="img-responsive"/>
              </figure>
              <div class="caption">
                <h5><a routerLink="/shopsingle" class="link link-default">Mediterranean Toast</a></h5>
                <p class="text-italic">Warm, toasty and hearty, this toast will satisfy your appetite with Zippy Hummus, Roasted Red Peppers, and Fried Bacon.</p>
                <p class="price">25.00</p><a href="shop-single.html" class="btn btn-shape-circle btn-burnt-sienna offset-top-15">Order Online</a>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="thumbnail-menu-modern">
              <figure><img src=" assets/images/toast-4-310x260.png" alt="" width="310" height="260" class="img-responsive"/>
              </figure>
              <div class="caption">
                <h5><a routerLink="/shopsingle" class="link link-default">Chicken Toast</a></h5>
                <p class="text-italic">We reimagined the original Chicken Sandwich, and now you can enjoy the taste of our Chicken Toast with cherry tomatoes and salad.</p>
                <p class="price">9.50</p><a href="shop-single.html" class="btn btn-shape-circle btn-burnt-sienna offset-top-15">Order Online</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--Pizzas-->
      <div>
        <!-- Slick Carousel-->
        <div data-arrows="true" data-loop="true" data-dots="false" data-swipe="true" data-items="1" data-xs-items="1" data-sm-items="2" data-md-items="3" data-lg-items="3" data-xl-items="5" data-center-mode="true" data-center-padding="10" class="slick-slider slick-tab-centered">
          <div class="item">
            <div class="thumbnail-menu-modern">
              <figure><img src=" assets/images/pizzas-1-310x260.png" alt="" width="310" height="260" class="img-responsive"/>
              </figure>
              <div class="caption">
                <h5><a routerLink="/shopsingle" class="link link-default">Hawaiian</a></h5>
                <p class="text-italic">Fresh pineapple, applewood smoked ham and slivered scallions make this pizza #1 among our youngest visitors.</p>
                <p class="price">12.50</p><a href="shop-single.html" class="btn btn-shape-circle btn-burnt-sienna offset-top-15">Order Online</a>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="thumbnail-menu-modern">
              <figure><img src=" assets/images/pizzas-2-310x260.png" alt="" width="310" height="260" class="img-responsive"/>
              </figure>
              <div class="caption">
                <h5><a routerLink="/shopsingle" class="link link-default">Sicilian</a></h5>
                <p class="text-italic">Rustic meets refined in this flavorful pizza with spicy marinara, Italian sausage, spicy Capicola ham, salami, and Mozzarella.</p>
                <p class="price">10.90</p><a href="shop-single.html" class="btn btn-shape-circle btn-burnt-sienna offset-top-15">Order Online</a>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="thumbnail-menu-modern">
              <figure><img src=" assets/images/pizzas-3-310x260.png" alt="" width="310" height="260" class="img-responsive"/>
              </figure>
              <div class="caption">
                <h5><a routerLink="/shopsingle" class="link link-default">Classic Cheese</a></h5>
                <p class="text-italic">Large round pizza from QuickFood topped with 100% Mozzarella and Muenster cheeses, hot out of the oven and ready when you are.</p>
                <p class="price">13.90</p><a href="shop-single.html" class="btn btn-shape-circle btn-burnt-sienna offset-top-15">Order Online</a>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="thumbnail-menu-modern">
              <figure><img src=" assets/images/pizzas-4-310x260.png" alt="" width="310" height="260" class="img-responsive"/>
              </figure>
              <div class="caption">
                <h5><a routerLink="/shopsingle" class="link link-default">Margherita</a></h5>
                <p class="text-italic">The classic that everyone loves. Try our Margherita with Italian tomatoes, fresh Mozzarella, fresh basil and Parmesan.</p>
                <p class="price">17.97</p><a href="shop-single.html" class="btn btn-shape-circle btn-burnt-sienna offset-top-15">Order Online</a>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="thumbnail-menu-modern">
              <figure><img src=" assets/images/pizzas-5-310x260.png" alt="" width="310" height="260" class="img-responsive"/>
              </figure>
              <div class="caption">
                <h5><a routerLink="/shopsingle" class="link link-default">Neapolitan</a></h5>
                <p class="text-italic">One of our most popular dishes, this pizza includes fresh tomatoes, cheese, oil, and garlic and is served with numerous toppings.</p>
                <p class="price">25.00</p><a href="shop-single.html" class="btn btn-shape-circle btn-burnt-sienna offset-top-15">Order Online</a>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="thumbnail-menu-modern">
              <figure><img src=" assets/images/pizzas-4-310x260.png" alt="" width="310" height="260" class="img-responsive"/>
              </figure>
              <div class="caption">
                <h5><a routerLink="/shopsingle" class="link link-default">Pepperoni</a></h5>
                <p class="text-italic">An American favorite of all times! Experience the taste of original Pepperoni cooked and delivered hot by the team of QuickFood.</p>
                <p class="price">9.50</p><a href="shop-single.html" class="btn btn-shape-circle btn-burnt-sienna offset-top-15">Order Online</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--Salads-->
      <div>
        <!-- Slick Carousel-->
        <div data-arrows="true" data-loop="true" data-dots="false" data-swipe="true" data-items="1" data-xs-items="1" data-sm-items="2" data-md-items="3" data-lg-items="3" data-xl-items="5" data-center-mode="true" data-center-padding="10" class="slick-slider slick-tab-centered">
          <div class="item">
            <div class="thumbnail-menu-modern">
              <figure><img src=" assets/images/salads-1-310x260.png" alt="" width="310" height="260" class="img-responsive"/>
              </figure>
              <div class="caption">
                <h5><a routerLink="/shopsingle" class="link link-default">Buffalo Bleu</a></h5>
                <p class="text-italic">Chopped romaine &amp; iceberg blend, all-natural chicken, original buffalo new york spicy sauce, grape tomatoes, and banana peppers.</p>
                <p class="price">12.50</p><a href="shop-single.html" class="btn btn-shape-circle btn-burnt-sienna offset-top-15">Order Online</a>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="thumbnail-menu-modern">
              <figure><img src=" assets/images/salads-2-310x260.png" alt="" width="310" height="260" class="img-responsive"/>
              </figure>
              <div class="caption">
                <h5><a routerLink="/shopsingle" class="link link-default">Greek Salad</a></h5>
                <p class="text-italic">Cucumbers, grape tomatoes, red onions, banana peppers, black olives, and feta cheese with balsamic vinaigrette dressing.</p>
                <p class="price">10.90</p><a href="shop-single.html" class="btn btn-shape-circle btn-burnt-sienna offset-top-15">Order Online</a>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="thumbnail-menu-modern">
              <figure><img src=" assets/images/salads-3-310x260.png" alt="" width="310" height="260" class="img-responsive"/>
              </figure>
              <div class="caption">
                <h5><a routerLink="/shopsingle" class="link link-default">Turkey Salad</a></h5>
                <p class="text-italic">Chopped romaine &amp; iceberg blend, radiatorre pasta, roasted turkey, crispy bacon, tomatoes, and buttermilk ranch dressing</p>
                <p class="price">13.90</p><a href="shop-single.html" class="btn btn-shape-circle btn-burnt-sienna offset-top-15">Order Online</a>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="thumbnail-menu-modern">
              <figure><img src=" assets/images/salads-4-310x260.png" alt="" width="310" height="260" class="img-responsive"/>
              </figure>
              <div class="caption">
                <h5><a routerLink="/shopsingle" class="link link-default">Mediterranean</a></h5>
                <p class="text-italic">Spring mix, all-natural chicken, quinoa, black olives, marinated tomatoes, sunflower seeds, feta cheese, and balsamic vinaigrette.</p>
                <p class="price">17.97</p><a href="shop-single.html" class="btn btn-shape-circle btn-burnt-sienna offset-top-15">Order Online</a>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="thumbnail-menu-modern">
              <figure><img src=" assets/images/salads-5-310x260.png" alt="" width="310" height="260" class="img-responsive"/>
              </figure>
              <div class="caption">
                <h5><a routerLink="/shopsingle" class="link link-default">Farmhouse salad</a></h5>
                <p class="text-italic">Baby kale, spring mix, roasted turkey, roasted butternut squash, roasted brussels sprouts, glazed pecans, and goat cheese.</p>
                <p class="price">25.00</p><a href="shop-single.html" class="btn btn-shape-circle btn-burnt-sienna offset-top-15">Order Online</a>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="thumbnail-menu-modern">
              <figure><img src=" assets/images/salads-4-310x260.png" alt="" width="310" height="260" class="img-responsive"/>
              </figure>
              <div class="caption">
                <h5><a routerLink="/shopsingle" class="link link-default">Chicken Caprese</a></h5>
                <p class="text-italic">Romaine hearts, blackened chicken, avocado, chopped tomatoes, fresh mozzarella and balsamic vinaigrette combined perfectly.</p>
                <p class="price">9.50</p><a href="shop-single.html" class="btn btn-shape-circle btn-burnt-sienna offset-top-15">Order Online</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--Drinks-->
      <div>
        <!-- Slick Carousel-->
        <div data-arrows="true" data-loop="true" data-dots="false" data-swipe="true" data-items="1" data-xs-items="1" data-sm-items="2" data-md-items="3" data-lg-items="3" data-xl-items="5" data-center-mode="true" data-center-padding="10" class="slick-slider slick-tab-centered">
          <div class="item">
            <div class="thumbnail-menu-modern">
              <figure><img src=" assets/images/drinks-1-310x260.png" alt="" width="310" height="260" class="img-responsive"/>
              </figure>
              <div class="caption">
                <h5><a routerLink="/shopsingle" class="link link-default">Diet Coke</a></h5>
                <p class="text-italic">Try a crisp and refreshing no-calorie Diet Coke, refreshing classics that compliments any dish of our menu.</p>
                <p class="price">12.50</p><a href="shop-single.html" class="btn btn-shape-circle btn-burnt-sienna offset-top-15">Order Online</a>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="thumbnail-menu-modern">
              <figure><img src=" assets/images/drinks-2-310x260.png" alt="" width="310" height="260" class="img-responsive"/>
              </figure>
              <div class="caption">
                <h5><a routerLink="/shopsingle" class="link link-default">Blue Moon</a></h5>
                <p class="text-italic">Blue Moon cocktail is a fun, frozen martini featuring blue curaçao, vanilla syrup, fresh orange juice, and whipped cream.</p>
                <p class="price">10.90</p><a href="shop-single.html" class="btn btn-shape-circle btn-burnt-sienna offset-top-15">Order Online</a>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="thumbnail-menu-modern">
              <figure><img src=" assets/images/drinks-3-310x260.png" alt="" width="310" height="260" class="img-responsive"/>
              </figure>
              <div class="caption">
                <h5><a routerLink="/shopsingle" class="link link-default">Sparkling Water</a></h5>
                <p class="text-italic">A perfect choice for those who want a refreshing drink in hot weather. A wide range of flavors is available!</p>
                <p class="price">13.90</p><a href="shop-single.html" class="btn btn-shape-circle btn-burnt-sienna offset-top-15">Order Online</a>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="thumbnail-menu-modern">
              <figure><img src=" assets/images/drinks-4-310x260.png" alt="" width="310" height="260" class="img-responsive"/>
              </figure>
              <div class="caption">
                <h5><a routerLink="/shopsingle" class="link link-default">Red Dawn</a></h5>
                <p class="text-italic">The Red Dawn- a strong and flavorful cocktail comprised of Southern Comfort, lemon-lime soda &amp; cranberry juice.</p>
                <p class="price">17.97</p><a href="shop-single.html" class="btn btn-shape-circle btn-burnt-sienna offset-top-15">Order Online</a>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="thumbnail-menu-modern">
              <figure><img src=" assets/images/drinks-5-310x260.png" alt="" width="310" height="260" class="img-responsive"/>
              </figure>
              <div class="caption">
                <h5><a routerLink="/shopsingle" class="link link-default">Pina Colada</a></h5>
                <p class="text-italic">Our specialty frozen Pina Colada made with Don Q Rum, pineapple juice, and Coco Lopez, topped with toasted coconut.</p>
                <p class="price">25.00</p><a href="shop-single.html" class="btn btn-shape-circle btn-burnt-sienna offset-top-15">Order Online</a>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="thumbnail-menu-modern">
              <figure><img src=" assets/images/drinks-4-310x260.png" alt="" width="310" height="260" class="img-responsive"/>
              </figure>
              <div class="caption">
                <h5><a routerLink="/shopsingle" class="link link-default">Classic Lemonade</a></h5>
                <p class="text-italic">Refreshing lemonade with a touch of mint and ginger. Refreshing lemon drinks that make for the perfect sip, when you are chilling.</p>
                <p class="price">9.50</p><a href="shop-single.html" class="btn btn-shape-circle btn-burnt-sienna offset-top-15">Order Online</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--deserts-->
      <div>
        <!-- Slick Carousel-->
        <div data-arrows="true" data-loop="true" data-dots="false" data-swipe="true" data-items="1" data-xs-items="1" data-sm-items="2" data-md-items="3" data-lg-items="3" data-xl-items="5" data-center-mode="true" data-center-padding="10" class="slick-slider slick-tab-centered">
          <div class="item">
            <div class="thumbnail-menu-modern">
              <figure><img src=" assets/images/deserts-1-310x260.png" alt="" width="310" height="260" class="img-responsive"/>
              </figure>
              <div class="caption">
                <h5><a routerLink="/shopsingle" class="link link-default">French macaroons</a></h5>
                <p class="text-italic">French macaroons are thin, flavorful meringue cookies that are sandwiched together with some kind of filling.</p>
                <p class="price">12.50</p><a href="shop-single.html" class="btn btn-shape-circle btn-burnt-sienna offset-top-15">Order Online</a>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="thumbnail-menu-modern">
              <figure><img src=" assets/images/deserts-2-310x260.png" alt="" width="310" height="260" class="img-responsive"/>
              </figure>
              <div class="caption">
                <h5><a routerLink="/shopsingle" class="link link-default">Blueberry muffins</a></h5>
                <p class="text-italic">Big Blueberry muffins with a crusty sugar topping. The blueberries and the sweet batter are fabulous and taste amazing.</p>
                <p class="price">10.90</p><a href="shop-single.html" class="btn btn-shape-circle btn-burnt-sienna offset-top-15">Order Online</a>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="thumbnail-menu-modern">
              <figure><img src=" assets/images/deserts-3-310x260.png" alt="" width="310" height="260" class="img-responsive"/>
              </figure>
              <div class="caption">
                <h5><a routerLink="/shopsingle" class="link link-default">Donuts</a></h5>
                <p class="text-italic">Homemade and filled with a delightful vanilla cream pudding and topped with sweet white icing, these donuts will delight you.</p>
                <p class="price">13.90</p><a href="shop-single.html" class="btn btn-shape-circle btn-burnt-sienna offset-top-15">Order Online</a>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="thumbnail-menu-modern">
              <figure><img src=" assets/images/deserts-4-310x260.png" alt="" width="310" height="260" class="img-responsive"/>
              </figure>
              <div class="caption">
                <h5><a routerLink="/shopsingle" class="link link-default">Ice Cream</a></h5>
                <p class="text-italic">Our premium sweet-cream, classic vanilla ice cream is pure pleasure. Perfect for sundaes, with a slice of cake, or just heavenly when flying solo.</p>
                <p class="price">17.97</p><a href="shop-single.html" class="btn btn-shape-circle btn-burnt-sienna offset-top-15">Order Online</a>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="thumbnail-menu-modern">
              <figure><img src=" assets/images/deserts-5-310x260.png" alt="" width="310" height="260" class="img-responsive"/>
              </figure>
              <div class="caption">
                <h5><a routerLink="/shopsingle" class="link link-default">Pancakes</a></h5>
                <p class="text-italic">Get the deliciousness of this all-American dish—in half the time. Enjoy the unforgettable taste of our pancakes!</p>
                <p class="price">25.00</p><a href="shop-single.html" class="btn btn-shape-circle btn-burnt-sienna offset-top-15">Order Online</a>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="thumbnail-menu-modern">
              <figure><img src=" assets/images/deserts-4-310x260.png" alt="" width="310" height="260" class="img-responsive"/>
              </figure>
              <div class="caption">
                <h5><a routerLink="/shopsingle" class="link link-default">Chocolate Fudge Cake</a></h5>
                <p class="text-italic">Finished with chunks of chocolate brownie and served with vanilla ice cream, this cake is a must if you enjoy tasty desserts.</p>
                <p class="price">9.50</p><a href="shop-single.html" class="btn btn-shape-circle btn-burnt-sienna offset-top-15">Order Online</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
