<section>
  <div data-photo-swipe-gallery="gallery" class="range range-condensed">
    <div class="cell-xs-6 cell-md-3"><a data-photo-swipe-item="" data-size="1200x800" href="assets/images/index-gallery-1-1200x800_original.jpg" data-author="" class="thumbnail-gallery"><img src="assets/images/index-gallery-1-480x394.jpg" alt="" width="480" height="394"/></a></div>
    <div class="cell-xs-6 cell-md-3"><a data-photo-swipe-item="" data-size="1200x800" href="assets/images/index-gallery-2-1200x800_original.jpg" class="thumbnail-gallery"><img src="assets/images/index-gallery-2-480x394.jpg" alt="" width="480" height="394"/></a></div>
    <div class="cell-xs-6 cell-md-3"><a data-photo-swipe-item="" data-size="1200x800" href="assets/images/index-gallery-3-1200x800_original.jpg" class="thumbnail-gallery"><img src="assets/images/index-gallery-3-480x394.jpg" alt="" width="480" height="394"/></a></div>
    <div class="cell-xs-6 cell-md-3"><a data-photo-swipe-item="" data-size="1200x800" href="assets/images/index-gallery-4-1200x800_original.jpg" class="thumbnail-gallery"><img src="assets/images/index-gallery-4-480x394.jpg" alt="" width="480" height="394"/></a></div>
  </div>
</section>
