<!-- Page Header-->
<header class="page-head">
  <!-- RD Navbar-->
  <div class="rd-navbar-wrap rd-navbar-minimal" style="height: auto">
    <nav data-layout="rd-navbar-fixed"
         data-sm-layout="rd-navbar-fixed"
         data-md-device-layout="rd-navbar-fixed"
         data-lg-layout="rd-navbar-static"
         data-lg-device-layout="rd-navbar-static"
         data-stick-up-clone="false"
         data-md-stick-up-offset="100px"
         data-lg-stick-up-offset="100px"
         class="rd-navbar">
      <div class="shell shell-fluid">
        <div class="rd-navbar-inner">
          <!-- RD Navbar Panel-->
          <div class="rd-navbar-panel">
            <!-- RD Navbar Toggle-->
            <button data-rd-navbar-toggle=".rd-navbar-nav-wrap" class="rd-navbar-toggle"><span></span></button>
            <!-- RD Navbar Brand--><a href="/user/indextemplate"  class="rd-navbar-brand brand">
            <div class="brand-logo">
              <svg x="0px" y="0px" width="157px" height="41px" viewbox="0 0 157 41">
                <text transform="matrix(1 0 0 1 1.144409e-004 32)" fill="#2C2D2F" font-family="'Grand Hotel'" font-size="45.22">QuickFood</text>
                <path fill-rule="evenodd" clip-rule="evenodd" fill="#EB5453" d="M43.743,2.954c2.606,0,4.719,2.091,4.719,4.672  c0,2.58-2.113,4.672-4.719,4.672c-2.606,0-4.719-2.091-4.719-4.672C39.024,5.045,41.137,2.954,43.743,2.954z"></path>
              </svg>
            </div></a>
          </div>
          <!-- RD Navbar Nav-->
          <div class="rd-navbar-nav-wrap">
            <!-- RD Navbar Nav-->
            <!-- RD Navbar Nav-->
            <ul class="rd-navbar-nav">
              <li><a href="#" class="navbar-icon restaurant-icon-19">Menu</a>
                <!-- RD Navbar Dropdown-->
                <ul class="rd-navbar-dropdown menu-img-wrap">
                  <li class="menu-img"><a routerLink="/singlemenu"><img src="assets/images/menu-food-01.png" alt="" width="88" height="60"><span>Pizzas</span></a></li>
                  <li class="menu-img"><a routerLink="/singlemenu"><img src="assets/images/menu-food-02.png" alt="" width="88" height="60"><span>Burgers</span></a></li>
                  <li class="menu-img"><a routerLink="/singlemenu"><img src="assets/images/menu-food-03.png" alt="" width="88" height="60"><span>Drinks</span></a></li>
                  <li class="menu-img"><a routerLink="/singlemenu"><img src="assets/images/menu-food-04.png" alt="" width="88" height="60"><span>Tosts</span></a></li>
                  <li class="menu-img"><a routerLink="/singlemenu"><img src="assets/images/menu-food-05.png" alt="" width="88" height="60"><span>Salads</span></a></li>
                  <li class="menu-img"><a routerLink="/singlemenu"><img src="assets/images/menu-food-06.png" alt="" width="88" height="60"><span>desserts</span></a></li>
                </ul>
              </li>
              <li><a href="#" class="navbar-icon thin-icon-tag">News</a>
                <ul class="rd-navbar-dropdown">
                  <li><a routerLink="/blogclassic">Classic Blog</a></li>
                  <li><a routerLink="/bloggrid">Grid Blog</a></li>
                  <li><a routerLink="/blogmasonry">Masonry Blog</a></li>
                  <li><a routerLink="/blogmodern">Modern Blog</a></li>
                  <li><a routerLink="/blogpost">Blog Post</a></li>
                </ul>
              </li>
              <li><a routerLink="/contacts" class="navbar-icon thin-icon-map-marker">Contacts</a></li>
              <li><a href="#features" class="navbar-icon thin-icon-layers">Pages</a>
                <!-- RD Navbar Megamenu-->
                <ul class="rd-navbar-megamenu">
                  <li>
                    <h6 class="rd-megamenu-header">Pages</h6>
                    <ul class="list-marked">
                      <li><a routerLink="/carrers">Careers</a></li>
                      <li><a routerLink="/faq">FAQ</a></li>
                      <li><a routerLink="/indextemplate">Deals</a></li>
                      <li><a routerLink="/commingsoon">Coming Soon</a></li>
                      <li><a routerLink="/indextemplate">404 Page</a></li>
                      <li><a routerLink="/indextemplate">503 Page</a></li>
                      <li><a routerLink="/indextemplate">Search Result</a></li>
                      <li><a routerLink="/indextemplate">Maintenance Page</a></li>
                      <li><a routerLink="/indextemplate">Terms of Use</a></li>
                      <li><a routerLink="/memberprofig">Member profile</a></li>
                      <li><a routerLink="/team">Our Team</a></li>
                      <li><a routerLink="/testimonials">Testimonials</a></li>
                    </ul>
                  </li>
                  <li>
                    <h6 class="rd-megamenu-header">Additional Pages</h6>
                    <ul class="list-marked">
                      <li><a routerLink="/typography">Typography</a></li>
                      <li><a routerLink="/indextemplate">Buttons</a></li>
                      <li><a routerLink="/indextemplate">Forms</a></li>
                      <li><a routerLink="/indextemplate">Icons</a></li>
                      <li><a routerLink="/indextemplate">Grid</a></li>
                      <li><a routerLink="/indextemplate">Tabs &amp; Accordions</a></li>
                      <li><a routerLink="/indextemplate">Progress Bars</a></li>
                      <li><a routerLink="/indextemplate">Tables</a></li>
                      <li><a routerLink="/indextemplate">Login/Register </a></li>
                    </ul>
                  </li>
                  <li>
                    <h6 class="rd-megamenu-header">Layouts</h6>
                    <ul class="list-marked">
                      <li><a routerLink="/indextemplate">Default Header</a></li>
                      <li><a routerLink="/indextemplate">Corporate Header</a></li>
                      <li><a routerLink="/indextemplate">Sidebar Header</a></li>
                    </ul>
                    <h6 class="rd-megamenu-header">Menu</h6>
                    <ul class="list-marked">
                      <li><a routerLink="/menuclassic">Menu Classic</a></li>
                      <li><a routerLink="/menumodern">Menu Modern</a></li>
                      <li><a routerLink="/singlemenu">Menu Single</a></li>
                      <li><a routerLink="/shopsingle">Product Single</a></li>
                      <li><a routerLink="/cardpage">Cart page</a></li>
                    </ul>
                  </li>
                  <li>
                    <h6 class="rd-megamenu-header">Extra</h6>
                    <ul class="list-marked">
                      <li><a routerLink="/aboutus">About Us</a></li>
                    </ul>
                    <h6 class="rd-megamenu-header">Gallery</h6>
                    <ul class="list-marked">
                      <li><a routerLink="/gallerygrid">Grid Gallery</a></li>
                      <li><a routerLink="/gallerycobbles">Cobbles Gallery</a></li>
                      <li><a routerLink="/gallerymasonry">Masonry Gallery</a></li>
                      <li><a routerLink="/gallerycondensed">Grid without Padding</a></li>
                    </ul>
                  </li>
                </ul>
              </li>
            </ul>

            <!-- RD Navbar Shop-->
            <ul class="rd-navbar-shop list-inline">
              <li><a href="callto:#" class="unit unit-horizontal unit-middle unit-spacing-xxs link-default">
                <div class="unit-left"><span class="icon icon-md icon-primary thin-icon-phone-call text-middle"></span></div>
                <div class="unit-body">
                  <address class="contact-info"><span class="text-bold big">+1 (409) 987–5874</span></address>
                </div></a></li>
              <li><a href="shop-cart.html" class="unit unit-horizontal unit-middle unit-spacing-xxs link-gray-light">
                <div class="unit-left"><span class="icon icon-md icon-primary thin-icon-cart"></span></div>
                <div class="unit-body"><span class="label-inline big">2</span></div></a></li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </div>
</header>
