<!-- Page Header-->
<header class="page-head">
  <!-- RD Navbar-->
  <div class="rd-navbar-wrap rd-navbar-minimal" style="height: auto">
    <nav data-layout="rd-navbar-fixed"
         data-sm-layout="rd-navbar-fixed"
         data-md-device-layout="rd-navbar-fixed"
         data-lg-layout="rd-navbar-static"
         data-lg-device-layout="rd-navbar-static"
         data-stick-up-clone="false"
         data-md-stick-up-offset="100px"
         data-lg-stick-up-offset="100px"
         class="rd-navbar">
      <div class="shell shell-fluid">
        <div class="rd-navbar-inner">
          <!-- RD Navbar Panel-->
          <div class="rd-navbar-panel">
            <!-- RD Navbar Toggle-->
            <button data-rd-navbar-toggle=".rd-navbar-nav-wrap" class="rd-navbar-toggle"><span></span></button>
            <!-- RD Navbar Brand--><a href="/user/index"  class="rd-navbar-brand brand">
            <div class="brand-logo">
              <svg x="0px" y="0px" width="157px" height="41px" viewbox="0 0 157 41">
                <text transform="matrix(1 0 0 1 1.144409e-004 32)" fill="#2C2D2F" font-family="'Grand Hotel'" font-size="45.22">QuickFood</text>
                <path fill-rule="evenodd" clip-rule="evenodd" fill="#EB5453" d="M43.743,2.954c2.606,0,4.719,2.091,4.719,4.672  c0,2.58-2.113,4.672-4.719,4.672c-2.606,0-4.719-2.091-4.719-4.672C39.024,5.045,41.137,2.954,43.743,2.954z"></path>
              </svg>
            </div></a>
          </div>
          <!-- RD Navbar Nav-->
          <div class="rd-navbar-nav-wrap">
            <!-- RD Navbar Nav-->
            <!-- RD Navbar Nav-->
            <ul class="rd-navbar-nav">
              <li><a href="/user/allproduct" class="navbar-icon restaurant-icon-19">Menu</a>
              </li>
              <li><a href="#" class="navbar-icon thin-icon-tag">News</a>
                <ul class="rd-navbar-dropdown">
                  <li><a routerLink="/user/classicblog">Classic Blog</a></li>
                  <li><a routerLink="/user/gridblog">Grid Blog</a></li>
                  <li><a routerLink="/user/masonryblog">Masonry Blog</a></li>
                  <li><a routerLink="/user/modernblog">Modern Blog</a></li>
                  <li><a routerLink="/user/postblog">Blog Post</a></li>
                </ul>
              </li>
              <li><a routerLink="/user/contacts" class="navbar-icon thin-icon-map-marker">Contacts</a></li>
              <li><a routerLink="/user/aboutus" class="navbar-icon thin-icon-layers ">About Us</a>

              </li>
            </ul>

            <!-- RD Navbar Shop-->
            <ul class="rd-navbar-shop list-inline">
              <li><a href="callto:#" class="unit unit-horizontal unit-middle unit-spacing-xxs link-default">
                <div class="unit-left"><span class="icon icon-md icon-primary thin-icon-phone-call text-middle"></span></div>
                <div class="unit-body">
                  <address class="contact-info"><span class="text-bold big">+1 (409) 987–5874</span></address>
                </div></a></li>
              <li><a href="shop-cart.html" class="unit unit-horizontal unit-middle unit-spacing-xxs link-gray-light">
                <div class="unit-left"><span class="icon icon-md icon-primary thin-icon-cart"></span></div>
                <div class="unit-body"><span class="label-inline big">2</span></div></a></li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </div>
</header>
