<!--The content below is only a placeholder and can be replaced.-->
<div class="jumbotron text-center">
  <div class="row">
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <ul class="nav navbar-nav ">
          <li><a routerLink="/admin/product" >Product</a></li>
          <li><a routerLink="/admin/protype">Protype</a></li>
        </ul>
      </div>
    </nav>
  </div>
</div>
<div class="container">
  <div class="row">
    <h1>wellcome!</h1>
    <router-outlet></router-outlet>
  </div>
</div>
