<!-- Page Content-->
<main class="page-content">
  <!-- Breadcrumbs & Page title-->
  <section class="text-center section-34 section-sm-60 section-md-top-100 section-md-bottom-105 bg-image bg-image-breadcrumbs">
    <div class="shell shell-fluid">
      <div class="range range-condensed">
        <div class="cell-xs-12 cell-xl-preffix-1 cell-xl-11">
          <p class="h3 text-white">Blog Post</p>
          <ul class="breadcrumbs-custom offset-top-10">
            <li><a href="index.html">Home</a></li>
            <li class="active">Blog Post</li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section class="section-50 section-sm-100">
    <div class="shell">
      <div class="range range-xs-center">
        <div class="cell-md-9">
          <!-- Blog Default Single-->
          <section>
            <article class="post post-classic">
              <!-- Post media--><img src="assets/images/post-01-870x412.jpg" alt="" width="870" height="412" class="img-responsive"/>
              <!-- Post content-->
              <section class="post-content text-left offset-top-25">
                <h5 class="text-uppercase">The history of sandwiches</h5>
                <ul class="list-inline list-inline-md offset-top-5">
                  <li>
                    <div class="unit unit-horizontal unit-spacing-xxs">
                      <div class="unit-left"><span class="text-base">Date:</span></div>
                      <div class="unit-body">
                        <time datetime="2016-01-01">January 22, 2016</time>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="unit unit-horizontal unit-spacing-xxs">
                      <div class="unit-left"><span class="text-base">Posted by:</span></div>
                      <div class="unit-body"><a href="blog-post.html" class="link link-gray-light">John Doe</a></div>
                    </div>
                  </li>
                  <li>
                    <div class="unit unit-horizontal unit-spacing-xxs">
                      <div class="unit-left"><span class="text-base">Comments:</span></div>
                      <div class="unit-body"><a href="blog-post.html" class="link link-gray-light">2</a></div>
                    </div>
                  </li>
                  <li>
                    <div class="unit unit-horizontal unit-spacing-xxs">
                      <div class="unit-left"><span class="text-base">Category:</span></div>
                      <div class="unit-body"><a href="blog-post.html" class="link link-gray-light">Sandwiches</a></div>
                    </div>
                  </li>
                </ul>
                <hr class="offset-top-15">
                <div class="offset-top-20">
                  <p class="text-base">At the very least, everyone has probably heard the name of the fourth Earl of Sandwich (born John Montagu), the British statesman whose name is forever affixed to our favorite lunchtime staple. What people may not know is that the foundations of this comfort food were laid long before the Earl's time.</p>
                </div>
                <div class="offset-top-20">
                  <p class="text-base">In fact, Arabs had already started stuffing meat inside pita bread centuries before the Earl came up with his delicious snack. He may not have been the first to eat meat between two slices of bread, but Sandwich did lend the now-famous food his name. According to one account, on Nov. 3, 1762, the Earl was deep into a marathon poker game and couldn't be bothered to leave the gaming table for dinner. As a solution, he asked a servant to bring him a piece of meat - stuffed between two slices of toast so he wouldn't smear food on his cards. Another story counters that it was actually work, rather than play, that kept the Earl from the dinner table. Either way, the meat-between-bread idea caught on, and it was dubbed the "sandwich" in the Earl's honor.</p>
                </div>
                <div class="offset-top-10">
                  <!-- Blockquote default-->
                  <blockquote class="quote-default quote-default-left">
                    <div class="quote-body">
                      <div class="unit unit-xs-horizontal unit-xs-top unit-spacing-sm">
                        <div class="unit-left">
                          <svg x="0px" y="0px" width="37px" height="27px" viewbox="0 0 37 27">
                            <path d="M16.916,18.73c0,2.351-0.833,4.319-2.499,5.901C12.754,26.208,10.786,27,8.516,27  c-2.268,0-4.255-0.792-5.96-2.369c-1.703-1.582-2.552-3.477-2.552-5.679c0-2.208,1.022-4.891,3.064-8.054L9.879-0.018h6.585  l-4.202,11.471C15.365,12.847,16.916,15.275,16.916,18.73z M36.99,18.73c0,2.351-0.833,4.319-2.499,5.901  C32.828,26.208,30.86,27,28.588,27c-2.269,0-4.256-0.792-5.959-2.369c-1.702-1.582-2.555-3.477-2.555-5.679  c0-2.208,1.025-4.891,3.066-8.054l6.813-10.916h6.581l-4.197,11.471C35.437,12.847,36.99,15.275,36.99,18.73z"></path>
                          </svg>
                        </div>
                        <div class="unit-body">
                          <p class="h5 text-light">
                            <q>A sandwich is as a food item consisting of one or more types of food, placed on or between slices of bread.</q>
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="quote-footer">
                      <cite></cite>
                    </div>
                  </blockquote>
                </div>
                <div class="offset-top-40">
                  <p class="text-base">Since then, the sandwich has branched out considerably. From its basic beginnings, it has expanded to include a variety of fillings and breads. Today, everything from salami on rye to filet mignon on ciabatta can claim the name "sandwich".</p>
                </div>
              </section>
              <footer class="offset-top-50 text-sm-left clearfix">
                <div class="big text-bold text-base pull-sm-left">Share this post:</div>
                <ul class="list-inline pull-sm-right offset-top-0 text-sm-right">
                  <li><a href="#" class="link-darkest icon icon-xxs-mod-1 fa fa-facebook"></a></li>
                  <li><a href="#" class="link-darkest icon icon-xxs-mod-1 fa fa-twitter"></a></li>
                  <li><a href="#" class="link-darkest icon icon-xxs-mod-1 fa fa-google-plus"></a></li>
                  <li><a href="#" class="link-darkest icon icon-xxs-mod-1 fa fa-pinterest"></a></li>
                </ul>
              </footer>
            </article>
            <hr class="offset-top-50">
            <h5 class="offset-top-60 offset-sm-top-90 text-uppercase text-left">Related Posts</h5>
            <div class="range range-sm-justify">
              <div class="cell-sm-6">
                <!-- Post Classic-->
                <article class="post post-classic post-widget">
                  <!-- Post media--><img src="assets/images/post-08-398x269.jpg" alt="" width="398" height="269" class="img-responsive"/>
                  <!-- Post content-->
                  <section class="post-content text-left offset-top-25">
                    <h6><a href="blog-post.html" class="link-default">Making Tasty Thanksgiving Turkey Burgers</a></h6>
                    <ul class="list-inline list-inline-sm offset-top-5">
                      <li>
                        <div class="unit unit-horizontal unit-spacing-xxs">
                          <div class="unit-left"><span class="text-base">Date:</span></div>
                          <div class="unit-body">
                            <time datetime="2016-01-01">January 22, 2016</time>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="unit unit-horizontal unit-spacing-xxs">
                          <div class="unit-left"><span class="text-base">Comments:</span></div>
                          <div class="unit-body"><span>2</span></div>
                        </div>
                      </li>
                      <li>
                        <div class="unit unit-horizontal unit-spacing-xxs">
                          <div class="unit-left"><span class="text-base">Posted by:</span></div>
                          <div class="unit-body"><span>John Doe</span></div>
                        </div>
                      </li>
                    </ul>
                  </section>
                </article>
              </div>
              <div class="cell-sm-6 offset-top-50 offset-sm-top-0">
                <!-- Post Classic-->
                <article class="post post-classic post-widget">
                  <!-- Post media--><img src="assets/images/post-09-398x269.jpg" alt="" width="398" height="269" class="img-responsive"/>
                  <!-- Post content-->
                  <section class="post-content text-left offset-top-25">
                    <h6><a href="blog-post.html" class="link-default">The Best American Burgers</a></h6>
                    <ul class="list-inline list-inline-sm offset-top-5">
                      <li>
                        <div class="unit unit-horizontal unit-spacing-xxs">
                          <div class="unit-left"><span class="text-base">Date:</span></div>
                          <div class="unit-body">
                            <time datetime="2016-01-01">January 22, 2016</time>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="unit unit-horizontal unit-spacing-xxs">
                          <div class="unit-left"><span class="text-base">Comments:</span></div>
                          <div class="unit-body"><span>2</span></div>
                        </div>
                      </li>
                      <li>
                        <div class="unit unit-horizontal unit-spacing-xxs">
                          <div class="unit-left"><span class="text-base">Posted by:</span></div>
                          <div class="unit-body"><span>John Doe</span></div>
                        </div>
                      </li>
                    </ul>
                  </section>
                </article>
              </div>
            </div>
            <h5 class="offset-top-60 text-uppercase text-left">3 Comments</h5>
            <div class="offset-top-41">
              <!-- Box Comment-->
              <div class="box-comment text-left box-comment-outboxed">
                <div class="media">
                  <div class="media-left"><img src="assets/images/blog-6-70x70.jpg" alt="July Mao" width="60" height="60" class="img-circle box-comment-img"></div>
                  <div class="media-body">
                    <header class="box-comment-header unit unit-vertical unit-spacing-xs unit-md unit-md-horizontal unit-md-inverse unit-md-middle unit-md-align-right">
                      <div class="unit-left unit-grow-1">
                        <ul class="box-comment-meta list-inline list-inline-sm">
                          <li>
                            <time datetime="2016-01-01" class="text-middle">Feb 18, 9:14 PM</time><span class="box-comment-icon mdi mdi-clock text-right"></span>
                          </li>
                          <li><a href="#like" class="link-gray-light"><span class="box-comment-icon mdi mdi-thumb-up-outline"></span> Like</a></li>
                          <li><a href="#reply" class="link-gray-light"><span class="box-comment-icon mdi mdi-message-outline"></span> Reply</a></li>
                        </ul>
                      </div>
                      <div class="unit-body">
                        <p class="box-comment-title">July Mao</p>
                      </div>
                    </header>
                    <section class="box-comment-body">
                      <p class="text-dark">Thank you for such an informative post! It was really useful to learn something new about my favorite food - sandwiches. I’m looking forward to other posts of your blog.</p>
                    </section>
                  </div>
                </div>
                <!-- Box Comment-->
                <div class="box-comment text-left box-comment-outboxed">
                  <div class="media">
                    <div class="media-left"><img src="assets/images/blog-7-70x70.jpg" alt="JOhn doe" width="60" height="60" class="img-circle box-comment-img"></div>
                    <div class="media-body">
                      <header class="box-comment-header unit unit-vertical unit-spacing-xs unit-md unit-md-horizontal unit-md-inverse unit-md-middle unit-md-align-right">
                        <div class="unit-left unit-grow-1">
                          <ul class="box-comment-meta list-inline list-inline-sm">
                            <li>
                              <time datetime="2016-01-01" class="text-middle">Feb 18, 10:13 PM</time><span class="box-comment-icon mdi mdi-clock text-right"></span>
                            </li>
                            <li><a href="#like" class="link-gray-light"><span class="box-comment-icon mdi mdi-thumb-up-outline"></span> Like</a></li>
                            <li><a href="#reply" class="link-gray-light"><span class="box-comment-icon mdi mdi-message-outline"></span> Reply</a></li>
                          </ul>
                        </div>
                        <div class="unit-body">
                          <p class="box-comment-title">JOhn doe</p>
                        </div>
                      </header>
                      <section class="box-comment-body">
                        <p class="text-dark">Thank you for your comment! It’s good to know that my posts can give some new information and sometimes even educate our website visitors.</p>
                      </section>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Box Comment-->
              <div class="box-comment text-left box-comment-outboxed">
                <div class="media">
                  <div class="media-left"><img src="assets/images/blog-8-70x70.jpg" alt="Mila MOa" width="60" height="60" class="img-circle box-comment-img"></div>
                  <div class="media-body">
                    <header class="box-comment-header unit unit-vertical unit-spacing-xs unit-md unit-md-horizontal unit-md-inverse unit-md-middle unit-md-align-right">
                      <div class="unit-left unit-grow-1">
                        <ul class="box-comment-meta list-inline list-inline-sm">
                          <li>
                            <time datetime="2016-01-01" class="text-middle">Feb 17, 7:34 PM</time><span class="box-comment-icon mdi mdi-clock text-right"></span>
                          </li>
                          <li><a href="#like" class="link-gray-light"><span class="box-comment-icon mdi mdi-thumb-up-outline"></span> Like</a></li>
                          <li><a href="#reply" class="link-gray-light"><span class="box-comment-icon mdi mdi-message-outline"></span> Reply</a></li>
                        </ul>
                      </div>
                      <div class="unit-body">
                        <p class="box-comment-title">Mila MOa</p>
                      </div>
                    </header>
                    <section class="box-comment-body">
                      <p class="text-dark">Very useful post! Thanks for sharing! Soon I’ll be planning my visit to your restaurant to taste some of your amazing sandwiches and, of course, other dishes you offer!</p>
                    </section>
                  </div>
                </div>
              </div>
            </div>
            <h5 class="offset-top-60 offset-sm-top-90 text-uppercase text-left">Leave a comment</h5>
            <form data-form-output="form-output-global" data-form-type="contact" method="post" action="bat/rd-mailform.php" class="rd-mailform form-contact-line text-left form-comment">
              <div class="range">
                <div class="cell-md-4">
                  <div class="form-group">
                    <label for="contact-name-2" class="form-label form-label-outside">First name</label>
                    <input id="contact-name-2" type="text" placeholder="Enter your name" name="name" data-constraints="@Required" class="form-control">
                  </div>
                  <div class="form-group">
                    <label for="contact-email-2" class="form-label form-label-outside">E-mail</label>
                    <input id="contact-email-2" type="email" placeholder="Enter your email" name="email" data-constraints="@Email @Required" class="form-control">
                  </div>
                </div>
                <div class="cell-md-8">
                  <div class="form-group">
                    <label for="message" class="form-label form-label-outside">your comment</label>
                    <textarea id="message" placeholder="Enter your comment" name="message" data-constraints="@Required" class="form-control"></textarea>
                  </div>
                </div>
              </div>
              <div class="offset-top-35">
                <button type="submit" class="btn btn-primary-lighter btn-min-width-sm">submit</button>
              </div>
            </form>
          </section>
        </div>
        <div class="cell-md-3 offset-top-60 offset-md-top-0">
          <div class="inset-lg-left-15">
            <!-- Section Blog Modern-->
            <aside class="text-left">
              <!-- Search Form-->
              <!-- RD Search Form-->
              <form action="search-results.html" method="GET" class="form-search rd-search">
                <div class="form-group">
                  <label for="blog-sidebar-2-form-search-widget" class="form-label form-search-label form-label-sm">Search</label>
                  <input id="blog-sidebar-2-form-search-widget" type="text" name="s" autocomplete="off" class="form-search-input form-control ">
                </div>
                <button type="submit" class="form-search-submit"><span class="mdi mdi-magnify"></span></button>
              </form>
              <div class="range offset-top-55">
                <div class="cell-xs-6 cell-md-12">
                  <!-- Category-->
                  <div class="h6 text-uppercase">Categories</div>
                  <ul class="list list-marked list-marked-burnt-sienna list-bordered offset-top-10">
                    <li><a href="#" class="link-default">Burgers   <span class="text-gray-light">(4)</span></a></li>
                    <li><a href="#" class="link-default">Pizza   <span class="text-gray-light">(45)</span></a></li>
                    <li><a href="#" class="link-default">Sandwiches   <span class="text-gray-light">(6)</span></a></li>
                    <li><a href="#" class="link-default">Toasts  <span class="text-gray-light">(7)</span></a></li>
                  </ul>
                </div>
                <div class="cell-xs-6 cell-md-12 offset-top-50 offset-xs-top-0 offset-md-top-50">
                  <!-- Archive-->
                  <div class="h6 text-uppercase">Popular posts</div>
                  <div class="offset-top-30">
                    <div class="unit unit-horizontal unit-spacing-xs">
                      <div class="unit-left"><img src="assets/images/aside-blog-01-70x70.jpg" alt="" width="70" height="70" class="img-rounded"/>
                      </div>
                      <div class="unit-body"><a href="blog-post.html" class="link-default"> Classic American Burger is Available Now!</a>
                        <div>
                          <time datetime="2016">Feb 4, 2016</time> <span>/</span> <span>1 Comment</span>
                        </div>
                      </div>
                    </div>
                    <div class="unit unit-horizontal unit-spacing-xs offset-top-15">
                      <div class="unit-left"><img src="assets/images/aside-blog-02-70x70.jpg" alt="" width="70" height="70" class="img-rounded"/>
                      </div>
                      <div class="unit-body"><a href="blog-post.html" class="link-default"> 5 Classic NYC Burgers You Have to Eat</a>
                        <div>
                          <time datetime="2016">Feb 4, 2016</time> <span>/</span> <span>2 Comment</span>
                        </div>
                      </div>
                    </div>
                    <div class="unit unit-horizontal unit-spacing-xs offset-top-15">
                      <div class="unit-left"><img src="assets/images/aside-blog-03-70x70.jpg" alt="" width="70" height="70" class="img-rounded"/>
                      </div>
                      <div class="unit-body"><a href="blog-post.html" class="link-default"> Top 5 New Burgers from Our Chef</a>
                        <div>
                          <time datetime="2016">Feb 4, 2016</time> <span>/</span> <span>0 Comment</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Twitter Feed-->
              <div class="h6 offset-top-50 text-uppercase">Twitter Feed</div>
              <div class="offset-top-25">
                <div data-twitter-username="templatemonster" data-twitter-date-hours=" hours ago" data-twitter-date-minutes=" minutes ago" class="twitter">
                  <div data-twitter-type="tweet" class="twitter-sm offset-top-18">
                    <div data-date="text" class="twitter-date"></div>
                    <div data-tweet="text" class="twitter-text text-dark"></div>
                    <div data-screen_name="text" class="twitter-name text-bold h6 text-sbold offset-top-10"></div>
                  </div>
                  <div data-twitter-type="tweet" class="twitter-sm">
                    <div data-date="text" class="twitter-date"></div>
                    <div data-tweet="text" class="twitter-text text-dark"></div>
                    <div data-screen_name="text" class="twitter-name text-bold h6 text-sbold offset-top-10"></div>
                  </div>
                </div>
              </div>
              <!-- Tags-->
              <div class="h6 offset-top-50 text-uppercase">Tags</div>
              <div class="offset-top-20">
                <div class="group-xs"><a href="#" class="btn btn-tags btn-default btn-shape-circle">Burgers</a><a href="#" class="btn btn-tags btn-default btn-shape-circle">Pizza</a><a href="#" class="btn btn-tags btn-default btn-shape-circle">drink</a><a href="#" class="btn btn-tags btn-default btn-shape-circle">desserts</a><a href="#" class="btn btn-tags btn-default btn-shape-circle">Toasts</a>
                </div>
              </div>
            </aside>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
