<!--banner-->
<section class="bg-image-5">
  <!-- RD Parallax-->
  <div data-on="false" data-md-on="true" class="rd-parallax rd-parallax-light">
    <div data-speed="0.35" data-type="media" data-url="assets/images/parallax-03.png" class="rd-parallax-layer"></div>
    <div data-speed="0" data-type="html" class="rd-parallax-layer">
      <div class="shell section-80 section-sm-top-140 section-sm-bottom-150 text-center">
        <div class="range range-xs-center">
          <div class="cell-sm-10 cell-lg-6">
            <h4 class="text-italic divider-custom-small-primary">Free Delivery</h4>
            <h2 class="text-uppercase text-italic offset-top-10 offset-sm-top-0">Sandwich Day</h2>
            <div class="label-price offset-top-10">
              <div class="unit unit-horizontal unit-middle unit-spacing-xs">
                <div class="unit-left">
                  <h1 class="text-primary">3<sup class="h3 text-primary">99</sup></h1>
                </div>
                <div class="unit-body">
                  <ul class="big text-left">
                    <li>Sandwich</li>
                    <li>Salad</li>
                    <li>Drink</li>
                  </ul>
                </div>
              </div>
            </div><a href="menu-classic.html" class="btn btn-burnt-sienna btn-md btn-shape-circle offset-top-15">order online</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
