<!-- Page Content-->
<main class="page-content">
  <!-- Breadcrumbs & Page title-->
  <section class="text-center section-34 section-sm-60 section-md-top-100 section-md-bottom-105 bg-image bg-image-breadcrumbs">
    <div class="shell shell-fluid">
      <div class="range range-condensed">
        <div class="cell-xs-12 cell-xl-preffix-1 cell-xl-11">
          <p class="h3 text-white">Modern Blog</p>
          <ul class="breadcrumbs-custom offset-top-10">
            <li><a href="index.html">Home</a></li>
            <li class="active">Modern Blog</li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section class="section-50 section-sm-100">
    <div class="shell">
      <div class="range range-sm-center range-lg-right">
        <div class="cell-sm-10 cell-md-8 cell-lg-7">
          <div class="inset-left-0 inset-md-right-20">
            <!-- Classic Thumbnail-->
            <!-- Embed Video-->
            <!-- Classic Soundcloud Player-->
            <!-- Section Blog Modern-->
            <section>
              <!-- Post Modern-->
              <article class="post post-modern post-modern-timeline post-modern-timeline-left">
                <!-- Post media-->
                <!-- Post content-->
                <section class="post-content text-left">
                  <div class="post-meta pull-sm-right"><span class="text-middle icon-xxs mdi mdi-clock text-primary"></span>
                    <time datetime="2016-01-01" class="text-italic text-middle">3 days ago</time>
                  </div>
                  <ul class="list-inline offset-top-14 offset-sm-top-0">
                    <li>
                      <div class="post-tags group-xs"><a href="#" class="label-custom label-sm-custom label-rounded-custom label-primary text-normal">Burgers</a>
                      </div>
                    </li>
                    <li>
                      <div class="icon icon-sm text-gray-light mdi mdi-pen"></div>
                    </li>
                  </ul>
                  <!-- Post Title-->
                  <div class="post-title">
                    <div class="h6 offset-top-25"><a href="blog-post.html" class="link-default">Interesting Facts About Pizza, Favorite Food of Many Americans</a></div>
                  </div>
                  <!-- Post Body-->
                  <div class="post-body offset-top-20">
                    <p>It goes without saying that Americans love pizza. But for as much as we love it, there is still so much to learn about this great food. Here are some interesting and fun facts you might not know about pizza.</p>
                  </div>
                  <div class="post-author">
                    <div class="post-author-img"><img width="45" height="45" src="assets/images/blog-modern-1-45x45.jpg" alt="July Mao" class="img-circle"></div>
                    <div class="post-author-name text-middle">July Mao
                    </div>
                  </div>
                </section>
              </article>
              <div class="post-modern-timeline-date text-sm-left">
                <time datetime="2016-01-01" class="text-base">21 Feb</time>
              </div>
              <!-- Post Modern-->
              <article class="post post-modern post-modern-timeline post-modern-timeline-left">
                <!-- Post media-->
                <header class="post-media"><img width="570" height="321" src="assets/images/post-07-546x321.jpg" alt="" class="img-responsive img-cover">
                </header>
                <!-- Post content-->
                <section class="post-content text-left">
                  <div class="post-meta pull-sm-right"><span class="text-middle icon-xxs mdi mdi-clock text-primary"></span>
                    <time datetime="2016-01-01" class="text-italic text-middle">2 days ago</time>
                  </div>
                  <ul class="list-inline offset-top-14 offset-sm-top-0">
                    <li>
                      <div class="post-tags group-xs"><a href="#" class="label-custom label-sm-custom label-rounded-custom label-primary text-normal">Burgers</a>
                      </div>
                    </li>
                    <li>
                      <div class="icon icon-sm text-gray-light mdi mdi-image"></div>
                    </li>
                  </ul>
                  <!-- Post Title-->
                  <div class="post-title">
                    <div class="h6 offset-top-25"><a href="blog-post.html" class="link-default">The Best American Burgers: Their Ratings, Recipes, and Why They are So Popular</a></div>
                  </div>
                  <!-- Post Body-->
                  <div class="post-body offset-top-20">
                    <p>The burger, America’s quintessential comfort food, can now be enjoyed in an impossibly endless number of ways. There are round-the-clock burgers at 24-hour-roadside joints and late-night burgers sold out everywhere.</p>
                  </div>
                  <div class="post-author">
                    <div class="post-author-img"><img width="45" height="45" src="assets/images/blog-modern-2-45x45.jpg" alt="John Doe" class="img-circle"></div>
                    <div class="post-author-name text-middle">John Doe
                    </div>
                  </div>
                </section>
              </article>
              <!-- Post Modern-->
              <article class="post post-modern post-modern-timeline post-modern-timeline-left">
                <!-- Post media-->
                <header class="post-media">
                  <div class="post-inset">
                    <div class="soundcloud-player-classic"><iframe height="166" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/149065581&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe></div>
                  </div>
                </header>
                <!-- Post content-->
                <section class="post-content text-left">
                  <div class="post-meta pull-sm-right"><span class="text-middle icon-xxs mdi mdi-clock text-primary"></span>
                    <time datetime="2016-01-01" class="text-italic text-middle">5 days ago</time>
                  </div>
                  <ul class="list-inline offset-top-14 offset-sm-top-0">
                    <li>
                      <div class="post-tags group-xs"><a href="#" class="label-custom label-sm-custom label-rounded-custom label-primary text-normal">Pizza</a>
                      </div>
                    </li>
                    <li>
                      <div class="icon icon-sm text-gray-light mdi mdi-image"></div>
                    </li>
                  </ul>
                  <!-- Post Title-->
                  <div class="post-title">
                    <div class="h6 offset-top-25"><a href="blog-post.html" class="link-default">Making Tasty Thanksgiving Turkey Burgers: 5 Tips from Our Chef</a></div>
                  </div>
                  <!-- Post Body-->
                  <div class="post-body offset-top-20">
                  </div>
                  <div class="post-author">
                    <div class="post-author-img"><img width="45" height="45" src="assets/images/blog-modern-3-45x45.jpg" alt="Bernard Show" class="img-circle"></div>
                    <div class="post-author-name text-middle">Bernard Show
                    </div>
                  </div>
                </section>
              </article>
              <div class="post-modern-timeline-date text-sm-left">
                <time datetime="2016-01-01" class="text-base">19 Feb</time>
              </div>
              <!-- Post Modern-->
              <article class="post post-modern post-modern-timeline post-modern-timeline-left">
                <!-- Post media-->
                <header class="post-media"><img width="570" height="321" src="assets/images/post-04-570x321.jpg" alt="" class="img-responsive img-cover">
                </header>
                <!-- Post content-->
                <section class="post-content text-left">
                  <div class="post-meta pull-sm-right"><span class="text-middle icon-xxs mdi mdi-clock text-primary"></span>
                    <time datetime="2016-01-01" class="text-italic text-middle">2 days ago</time>
                  </div>
                  <ul class="list-inline offset-top-14 offset-sm-top-0">
                    <li>
                      <div class="post-tags group-xs"><a href="#" class="label-custom label-sm-custom label-rounded-custom label-primary text-normal">Burgers</a>
                      </div>
                    </li>
                    <li>
                      <div class="icon icon-sm text-gray-light mdi mdi-video"></div>
                    </li>
                  </ul>
                  <!-- Post Title-->
                  <div class="post-title">
                    <div class="h6 offset-top-25"><a href="blog-post.html" class="link-default">The History of Sandwiches</a></div>
                  </div>
                  <!-- Post Body-->
                  <div class="post-body offset-top-20">
                    <p>At the very least, everyone has probably heard the name of the fourth Earl of Sandwich (born John Montagu), the British statesman whose name is forever affixed to our favorite lunchtime staple.</p>
                  </div>
                  <div class="post-author">
                    <div class="post-author-img"><img width="45" height="45" src="assets/images/blog-modern-1-45x45.jpg" alt="July Mao" class="img-circle"></div>
                    <div class="post-author-name text-middle">July Mao
                    </div>
                  </div>
                </section>
              </article>
            </section>
            <footer class="offset-top-60 offset-lg-top-80">
              <div class="post-modern-timeline-left">
                <!-- Bootstrap Pager-->
                <nav>
                  <ul class="pager">
                    <li class="previous"><a href="#"><span aria-hidden="true" class="icon-left mdi mdi-arrow-left"></span>Older</a></li>
                    <li class="next"><a href="#">New<span aria-hidden="true" class="icon-right mdi mdi-arrow-right"></span></a></li>
                  </ul>
                </nav>
              </div>
            </footer>
          </div>
        </div>
        <div class="cell-md-4 offset-top-60 offset-md-top-0">
          <div class="inset-lg-left-50">
            <!-- Section Blog Modern-->
            <aside class="text-left">
              <!-- Search Form-->
              <!-- RD Search Form-->
              <form action="search-results.html" method="GET" class="form-search rd-search">
                <div class="form-group">
                  <label for="blog-sidebar-2-form-search-widget" class="form-label form-search-label form-label-sm">Search</label>
                  <input id="blog-sidebar-2-form-search-widget" type="text" name="s" autocomplete="off" class="form-search-input form-control ">
                </div>
                <button type="submit" class="form-search-submit"><span class="mdi mdi-magnify"></span></button>
              </form>
              <div class="range offset-top-55">
                <div class="cell-xs-6 cell-md-12">
                  <!-- Category-->
                  <div class="h6 text-uppercase">Categories</div>
                  <ul class="list list-marked list-marked-burnt-sienna list-bordered offset-top-10">
                    <li><a href="#" class="link-default">Burgers   <span class="text-gray-light">(4)</span></a></li>
                    <li><a href="#" class="link-default">Pizza   <span class="text-gray-light">(45)</span></a></li>
                    <li><a href="#" class="link-default">Sandwiches   <span class="text-gray-light">(6)</span></a></li>
                    <li><a href="#" class="link-default">Toasts  <span class="text-gray-light">(7)</span></a></li>
                  </ul>
                </div>
                <div class="cell-xs-6 cell-md-12 offset-top-50 offset-xs-top-0 offset-md-top-50">
                  <!-- Archive-->
                  <div class="h6 text-uppercase">Popular posts</div>
                  <div class="offset-top-30">
                    <div class="unit unit-horizontal unit-spacing-xs">
                      <div class="unit-left"><img src="assets/images/aside-blog-01-70x70.jpg" alt="" width="70" height="70" class="img-rounded"/>
                      </div>
                      <div class="unit-body"><a href="blog-post.html" class="link-default"> Classic American Burger is Available Now!</a>
                        <div>
                          <time datetime="2016">Feb 4, 2016</time> <span>/</span> <span>1 Comment</span>
                        </div>
                      </div>
                    </div>
                    <div class="unit unit-horizontal unit-spacing-xs offset-top-15">
                      <div class="unit-left"><img src="assets/images/aside-blog-02-70x70.jpg" alt="" width="70" height="70" class="img-rounded"/>
                      </div>
                      <div class="unit-body"><a href="blog-post.html" class="link-default"> 5 Classic NYC Burgers You Have to Eat</a>
                        <div>
                          <time datetime="2016">Feb 4, 2016</time> <span>/</span> <span>2 Comment</span>
                        </div>
                      </div>
                    </div>
                    <div class="unit unit-horizontal unit-spacing-xs offset-top-15">
                      <div class="unit-left"><img src="assets/images/aside-blog-03-70x70.jpg" alt="" width="70" height="70" class="img-rounded"/>
                      </div>
                      <div class="unit-body"><a href="blog-post.html" class="link-default"> Top 5 New Burgers from Our Chef</a>
                        <div>
                          <time datetime="2016">Feb 4, 2016</time> <span>/</span> <span>0 Comment</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Twitter Feed-->
              <div class="h6 offset-top-50 text-uppercase">Twitter Feed</div>
              <div class="offset-top-25">
                <div data-twitter-username="templatemonster" data-twitter-date-hours=" hours ago" data-twitter-date-minutes=" minutes ago" class="twitter">
                  <div data-twitter-type="tweet" class="twitter-sm offset-top-18">
                    <div data-date="text" class="twitter-date"></div>
                    <div data-tweet="text" class="twitter-text text-dark"></div>
                    <div data-screen_name="text" class="twitter-name text-bold h6 text-sbold offset-top-10"></div>
                  </div>
                  <div data-twitter-type="tweet" class="twitter-sm">
                    <div data-date="text" class="twitter-date"></div>
                    <div data-tweet="text" class="twitter-text text-dark"></div>
                    <div data-screen_name="text" class="twitter-name text-bold h6 text-sbold offset-top-10"></div>
                  </div>
                </div>
              </div>
              <!-- Tags-->
              <div class="h6 offset-top-50 text-uppercase">Tags</div>
              <div class="offset-top-20">
                <div class="group-xs"><a href="#" class="btn btn-tags btn-default btn-shape-circle">Burgers</a><a href="#" class="btn btn-tags btn-default btn-shape-circle">Pizza</a><a href="#" class="btn btn-tags btn-default btn-shape-circle">drink</a><a href="#" class="btn btn-tags btn-default btn-shape-circle">desserts</a><a href="#" class="btn btn-tags btn-default btn-shape-circle">Toasts</a>
                </div>
              </div>
            </aside>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
