
<div>
  <div class="row">
    <div class="col-md-6">
      <button (click)="onCheck()" type="button" class="btn btn-success"  >Add new </button>
    </div>
    <div class="col-md-6 form-inline">
        Search By Name:<input type="search" class="form-control" [formControl]="searchBy">
    </div>
  </div>

  <div *ngIf="checkAdd">
    <div *ngIf="messages" class="alert alert-danger">
      <h5>{{messages}}</h5>
    </div>
    <form class="form-horizontal" [formGroup]="customerAddForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label>name</label>
        <input class="form-control" type="text" formControlName="cusName" name="cusName">
        <div class="alert alert-danger" *ngIf="customerAddForm.get('cusName')?.errors?.required && customerAddForm.get('cusName')?.touched">Ban chua nhap Name!</div>
        <div class="alert alert-danger" *ngIf="customerAddForm.get('cusName')?.errors?.minlength">Phai co it nhat 2 ky tu!</div>
        <div class="alert alert-danger" *ngIf="customerAddForm.get('cusName')?.errors?.maxlength">Chi dai 10 ky tu!</div>
      </div>

      <div class="form-group">
        <label>address</label>
        <input class="form-control" type="text" formControlName="cusAddress" name="cusAddress">
        <div class="alert alert-danger" *ngIf="customerAddForm.get('cusAddress')?.errors?.required && customerAddForm.get('cusAddress')?.touched">Ban chua nhap Name!</div>
        <div class="alert alert-danger" *ngIf="customerAddForm.get('cusAddress')?.errors?.minlength || customerAddForm.get('cusAddress')?.errors?.maxlength">Bạn Phải nhập 2-100 ky tu!</div>
      </div>

      <div class="form-group">
        <label>City</label>
        <input class="form-control" type="text" formControlName="cusCity" name="cusCity">
        <div class="alert alert-danger" *ngIf="customerAddForm.get('cusCity')?.errors?.required && customerAddForm.get('cusCity')?.touched">Ban chua nhap Name!</div>
        <div class="alert alert-danger" *ngIf="customerAddForm.get('cusCity')?.errors?.minlength || customerAddForm.get('cusCity')?.errors?.maxlength">Bạn Phải nhập 2-100 ky tu!</div>
      </div>

      <div class="form-group">
        <label>phone</label>
        <input class="form-control" type="" formControlName="cusPhone" name="cusPhone">
        <div class="alert alert-danger" *ngIf="customerAddForm.get('cusPhone')?.errors?.required && customerAddForm.get('cusPhone')?.touched">Ban chua nhap PhoneNumber!</div>
        <div class="alert alert-danger" *ngIf="customerAddForm.get('cusPhone')?.errors?.pattern">bạn cần nhập số 10-11 số bắt đầu 0 hoặc +84</div>
      </div>

      <div class="form-group">
        <label>state</label>
        <input class="form-control" type="text" formControlName="cusState" name="cusState">
        <div class="alert alert-danger" *ngIf="customerAddForm.get('cusState')?.errors?.required && customerAddForm.get('cusState')?.touched">Ban chua nhap State!</div>
        <div class="alert alert-danger" *ngIf="customerAddForm.get('cusState')?.errors?.pattern">bạn cần nhập chữ 2 ký tự quốc gia của bạn</div>
      </div>

      <div class="form-group">
        <label>zip</label>
        <input class="form-control" type="text" formControlName="cusZip" name="cusZip">
        <div class="alert alert-danger" *ngIf="customerAddForm.get('cusZip')?.errors?.required && customerAddForm.get('cusZip')?.touched">Ban chua nhap Zip!</div>
        <div class="alert alert-danger" *ngIf="customerAddForm.get('cusZip')?.errors?.pattern">bạn cần nhập số 9-12 ký tự</div>
      </div>

      <button type="submit" class="btn btn-success" [disabled]="customerAddForm.invalid">Submit</button>
    </form>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>stt</th>
        <th>id</th>
        <th>address</th>
        <th>city</th>
        <th>name</th>
        <th>phone</th>
        <th>state</th>
        <th>zip</th>
        <th>option</th>
      </tr>
    </thead>
    <tr *ngFor="let cus of customers | paginate: {itemsPerPage: 5, currentPage:page, id: '1'}; trackBy: contactTrackByFn; index as stt"
    [class.selected]="cus.cusId === selectedId" [routerLink]="['/cus', cus.cusId]">
      <td>{{stt+1}}</td>
      <td>{{ cus.cusId }}</td>
      <td>{{ cus.cusAddress }}</td>
      <td>{{ cus.cusCity }}</td>
      <td>{{ cus.cusName }}</td>
      <td>{{ cus.cusPhone }}</td>
      <td>{{ cus.cusState }}</td>
      <td>{{ cus.cusZip }}</td>
      <td><button type="button" class="btn btn-danger" (click)="delete(cus.cusId); $event.stopPropagation()">Delete</button></td>
    </tr>
  </table>
  <pagination-controls (pageChange)="page = $event" id="1"
                       maxSize="5"
                       directionLinks="true"
                       autoHide="true">
  </pagination-controls>`
</div>
